<article itemscope itemtype="http://schema.org/BlogPosting"
         class="post post--photo post--cover post--index main-item main-post" data-ani="hide" data-js="post">
    <div class="post-inner">

        <figure class="post-media">
            {% if page.photo %}
            <img itemprop="image" src="{{page.photo}}" alt="Drew Bardana">
            {% endif %}
            {% if page.video %}
            <iframe width="560" height="321" src="{{page.video}}" frameborder="0" allowfullscreen=""></iframe>
            {% endif %}
        </figure>

        <section class="post-item post-body">
            <div class="wrapper post-wrapper">
                <h2 itemprop="headline" class="post-title">
                    <a itemprop="url" href="{{ site.root }}{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
                </h2>
                <p itemprop="description" class="post-excerpt" data-js="excerpt">
                    {{ page.content }}
                </p>
                <div class="btn post-tags">
                    {% if page.tags %}
                    <span class="tags">
                        {% for tag in page.tags %}
                            <a href="{{ site.root }}/tags.html#{{ tag }}" title="{{ tag }}" class="btn-item">
                                <span itemprop="keywords">#{{ tag }}</span>
                            </a>
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>
            </div>
        </section>
        <footer class="post-item post-footer">
            <div class="wrapper post-wrapper">
                <div class="meta post-meta">
                    <a itemprop="datePublished" href="{{ site.root }}{{ page.url }}"
                       class="icon-ui icon-ui-date meta-item meta-date">
                        <span class="meta-count">{{ page.date | date:"%Y-%m-%d" }}</span>
                    </a>
                    <!--<a href="drew-bardana/index.html#comments" class="icon-ui icon-ui-comment meta-item meta-comment">-->
                    <!--<span class="meta-count disqus-comment-count" data-disqus-identifier="3">0</span>-->
                    <!--<span class="meta-plural"> comments</span>-->
                    <!--</a>-->
                </div>
            </div>
        </footer>
    </div>
</article>
